.App {
  background-color: rgb(221, 216, 245);  
  display: flex;
}
.pokemon-card {
  background-color: rgba(128, 128, 128, 0.548);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border: 2px solid olive;
  border-radius: 5px;
  height: 400px;
  width: 200px;
}

.pokemon-list {
  margin: 10px;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
}